.modal {
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
    z-index: 200;
    animation-name: fade-in;
    animation-duration: 0.25s;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #521751;
    color: white;

    & h1 {
        margin: 0;
        font-size: 1.25rem;
    }

    & span {
        cursor: pointer;
    }
}

.modal__content {
    padding: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
